/*** CANCEL ***/
html, body { width: 100%; height: 100%; }
main { min-height: 100%; }

main * {
	scrollbar-color: #AAA transparent;
}
/*** END CANCEL ***/

/*** Z-INDEX ***/
.dashboard-total-percentage-dash { position: relative; z-index: 10; }
.dashboard-total-percentage-text { position: relative; z-index: 20; }

.u-hr { position: relative; z-index: 30; }
.header-nav-main { position: relative; z-index: 40; }

.progress-bar span:nth-child(1) { position: relative; z-index: 100; }
/*** END Z-INDEX ***/

/*** COLORS ***/
.records-list-item.is-green { color: green; }
.records-list-item.is-blue { color: blue; }
.records-list-item.is-red { color: red; }
.records-list-item.is-gray { color: gray; }

.footer p:nth-child(2) a { color: #AAA; }

html { background-color: #eee; }

.u-btn { background-color: white; }

main.is-dashboard span.is-dashboard,
main.is-catalog span.is-catalog,
main.is-payslips span.is-payslips,
.header-nav div > span:hover { background-color: #AAA; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Megatech";src:url("../../assets/fonts/MegatechAlt.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}
@font-face{
	font-family:"Megatech Blank";src:url("../../assets/fonts/MegatechAltBold.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}

.header-hgroup-h1 { font-family: "Megatech"; }
 { font-family:"MegaTech Blank", serif; }
* { font-family:"Arial Black", sans-serif; }

.footer p:nth-child(2) a:hover,
.footer p:nth-child(2) a:active,
.footer p:nth-child(2) a:focus { text-decoration: underline; }
.dashboard-details { text-align: center; }
.records-list-content {// text-align: right; }
/*** END FONTS ***/

/*** UTILITIES ***/
	/*** .u-btn ***/
	.u-btn {
		margin: 0 .25em;
		border-radius: 5em;
	}
	
	/*** .u-hr ***/
	.u-hr {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		
		background-color: rgba(0, 0, 0, .7);
	}
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	
	/*** .footer ***/
	.footer { padding: .5em 1em; }

	/*** .header ***/
	.header {
		padding: 1em .5em;
	}
	
	/*** .records ***/
	.records-list-item { display: flex; align-items: center; }
	
	/*** .progress ***/
	.progress-bar { display: flex; }
	.progress-bar div.is-here { flex: 1; }
	
	.progress-bar div {
		position: relative;
	}
	.progress-bar div:before {
		content: ""; position: absolute; top: 1em; left: -90%;
		width: 100%;
		
		border-width: .5em; border-style: dashed;
	}
	.progress-bar div:nth-child(1):before { display: none; }
	.progress-bar span:nth-child(1) {
		border-radius: 50%;
	}
	
	/*** .records ***/
	.records-date span:nth-child(1) { display: block; }
/*** END COMPONENTS ***/

/*** INTERRACTIVITY ***/
.u-btn { cursor: pointer; }

.progress-bar span:nth-child(1) { background-color: white; }
.progress-bar div.is-done span:nth-child(1) { background-color: #AAA }
.progress-bar div.is-here span:nth-child(1) { background-color: black; color: white; }

.progress-bar div:before { border-color: white; }
.progress-bar div.is-done:before { border-color: #AAA; }

.u-hr { display: none; }
main.is-catalog .u-hr,
main.is-payslips .u-hr { display: block; }

.header-nav-main-sub { display: none !important; }
main.is-catalog .header-nav-main-sub.is-catalog,
main.is-payslips .header-nav-main-sub.is-payslips { display: block !important; }
/*** END INTERRACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
	/*** FONTS ***/
	body { font-size: 14px; }
	
	/*** COMPONENTS: .dashboard ***/
	.dashboard-details div {
		width: 50%;
		display: inline-block;
	}
	
	/*** COMPONENTS: .header ***/
	.header > div:nth-child(2),
	.header > div:nth-child(3) { display: flex; }
	
	/*** COMPONENTS: .progress ***/
	.progress-bar span:nth-child(1) { width: 1.8em; height: 1.8em; }
	
	/*** VIEWPORT ***/
	.progress-bar span:nth-child(2) { display: none; }
	.progress-bar div.is-here span:nth-child(2) { display: inline-block; }
}
@media screen and (min-width: 50em) {
	/*** CANCEL ***/
	.records, .records-list, .records-list > div {
		width: 100%; height: 100%;
	}
	
	/*** FONTS ***/
	body { font-size: 16px; }
	.dashboard-total div > span,
	.records-date span:nth-child(2) { font-size: 3em; }
	.header-hgroup-name,
	.records-list-item .records-list-icon { font-size: 1.8em; }
	.section-title { font-size: 1.25em; }
	.records-list-item span:nth-child(2) { font-size: .75em; }
	
	.footer,
	.records .section-title { text-align: right; }
	
	/*** COMMONS ***/
	main { display: flex; flex-direction: column; }
	section { flex: 1; }

	section { display: grid; }
	section { grid-template-columns: 50% 29em auto; }
	
	section { grid-template-rows: auto 1fr auto; padding-bottom: 1em; }
	section > div:nth-child(1) { grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; }
	section > div:nth-child(2) { grid-column-start: 1; grid-row-start: 2; }
	section > div:nth-child(3) { grid-column-start: 2; grid-row-start: 2; }
	section > div:nth-child(4) { grid-column-start: 1; grid-column-end: 3; grid-row-start: 3; }
	section > div:nth-child(5) { grid-column-start: 3; grid-row-start: 1; grid-row-end: 4; }
	
	/*
	section { grid-template-rows: 1fr auto; padding-bottom: 1em; }
	section > div:nth-child(1) { grid-column-start: 1; grid-row-start: 1; }
	section > div:nth-child(2) { grid-column-start: 2; grid-row-start: 1; }
	section > div:nth-child(3) { grid-column-start: 1; grid-column-end: 3; grid-row-start: 2; }
	section > div:nth-child(4) { grid-column-start: 3; grid-row-start: 1; grid-row-end: 3; }
	*/
	
	.section-title { padding: 0 .75em 0 .5em; }
	.section-content { padding: 0 0 0 .75em; }
	
	/*** COMPONENTS: .dashboard ***/
	.dashboard > div,
	.dashboard-details, .dashboard-details div { display: flex; }
	.dashboard-details div { flex-direction: column; }
	.dashboard-details div, .dashboard-details div span:nth-child(2),
	.dashboard-total { flex: 1; }
	
	.dashboard-total div span { font-style: italic; }
	
	.dashboard-details { width: 65%; }

	.dashboard img { width: 4em; }
	.dashboard-total > div { display: flex; }
	.dashboard-total > p {
		position: relative;
		border-radius: .25em; overflow: hidden;
		background-color: white;
	}
	.dashboard-total-percentage-dash {
		position: absolute; top: 0; left: 0;
			height: 100%;
		background-color: #AAA;
	}
	.dashboard-total > p span {
		display: inline-block;
		padding: .5em 1em;
	} 
	
	/*** COMPONENTS: .documents ***/
	.documents > div { display: flex; }
	
	.documents img { width: 4em; }
	.documents > div div:last-child img { width: 7em; }
	.documents p { width: 75%; margin-top: 1em; }
	
	/*** COMPONENTS: .header ***/
	.header,
	.header-hgroup, .header-nav,
	.header-nav div { display: flex; }
	.header-hgroup, .header-nav { align-items: center; }
	.header-hgroup { flex: 1; }
	
	.header-nav { width: 50%; }
	.header-nav-main {
		position: relative;
	}
	.header-nav-main-sub {
		position: absolute; top: 100%; left: 0;
		width: 100%; height: 50vh;
		margin-top: 1em;
		border-radius: 1em;
		
		background-color: #AAA;
	}
	
	.header-hgroup-name { padding: 0 .5em; }
	
	/*** COMPONENTS: .records ***/
	.records { display: flex; flex-direction: column; }
	.records-list { flex: 1; }

	.records-date {
		padding-bottom: 1em;
		margin-right: 1em;
		border-bottom: 1px solid #AAA;
	}
	.records-date span:nth-child(3) { padding-left: .25em; }
	
	.records-list {
		position: relative;
	}
	.records-list > div {
		position: absolute; top: 0;
		padding-right: 1em;
		overflow-y: auto;
	}
	.records-list-item {
		padding: .5em;
		margin: .5em 0;
	}
	.records-list-item span { display: block; }
	
	/*** COMPONENTS: .progress ***/
	.progress-bar span:nth-child(1) { width: 3em; height: 3em; }
	
	/*** VIEWPORT ***/
	.progress-bar div { flex: 1; }
	
	/*** SANDBOX ***/
	
	/*** CSS-HACKS ***/
	.dashboard { margin-right: 1.8em; }
	.dashboard-details div:last-child { justify-content: center; }
	.dashboard-details div:last-child {
//		max-width: 7em !important;
	}
}
/*** MEDIA QUERIES ***/

/*** DECORATION ***/
	/*** .d-midWrap ***/
	.d-midWrap {
		max-width: 75em;
		margin: 0 auto;
	}
/*** END DECORATION ***/

/*** TOOLS ***/
	/*** .CSSbrand ***/
	.CSSbrand { font-family: "MegaTech Blank", serif; }

	/*** .CSScentered ***/
	.u-btn,
	.CSScentered {
		display: flex;
		align-items: center; justify-content: center;
	}
	
	/*** .CSSfontFix ***/
	.CSSfontFix { font-family: "Arial Black", sans-serif !important; }
	
	/*** CSSnowrap ***/
	.CSSnowrap {
		word-spacing: nowrap; white-space: nowrap;
	}
	
	/*** .CSSspacer ***/
	.CSSspacer { flex: 1; }
	
	/*** .CSSunderline ***/
	.CSSunderline { text-decoration: underline; }
/*** END TOOLS ***/

/*** CSS-HACKS ***/
	.u-btn { padding: .5em .6em; }
	.u-btn span { padding: 0 .25em; }
/*** END CSS-HACKS ***/

/*** TODO ***/
/* CSS ellipse on long names */
/*** END TODO ***/

/*** SANDBOX ***/
	.section-title { text-transform: uppercase; }
/*** END SANDBOX ***/

/*** SYNCRONICITY ***/
.progress { display: none; }
/*** END SYNCRONICITY ***/