/*** CANCEL ***/
html, body { width: 100%; height: 100%; }
main { min-height: 100%; }
/*** END CANCEL ***/

/*** COLORS ***/
.nav-button > label,
.nav-button p { color: white; }

.nav-button p { background-color: #AAA; }

html,
.form { background-color: #eee; }

.nav-button > label { background-color: #181818; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Megatech";src:url("../../assets/fonts/MegatechAlt.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}
@font-face{
	font-family:"Megatech Blank";src:url("../../assets/fonts/MegatechAltBold.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}

.header-hgroup-h1 { font-family: "Megatech"; }
.header { font-family:"MegaTech Blank", serif; }
* {font-family:"Arial Black", sans-serif;}

.header-hgroup-h1 { font-size: 3vh; }

.form label { text-align: left; }
main { text-align: center; }
.nav-button span { text-decoration: underline; }
/*** END FONTS ***/

/*** UTILITIES ***/
	/*** .u-btnToggle ***/
	.u-btnToggle {
		display: block;
		width: 3em; height: 3em;
		
		background-color: #181818;
		color: white;
	}
		.form .u-btnToggle { position: absolute; }
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	main { display: flex; flex-direction: column; }
	section { flex: 1; }
	
	section { position: relative; overflow: hidden; }

	/*** .form ***/
	.form {
		position: absolute;
		width: 100%; height: 100%;
	}
	
	.form input[type="submit"] {
		background-color: #181818;
		color: white;
	}
	.form label {
		display: block;
		padding: 1em 0;
	}

	/*** .header ***/
	.header {
		display: block;
	}
	
	/*** .nav ***/
	.nav {// max-height: 40vh;// overflow: auto; }
	.nav-button {
		position: relative;
		display: inline-block;
		vertical-align: bottom;
	}
	.nav-button > label { display: block; }
	.nav-button p {
		position: absolute; bottom: 100%;
		width: 100%;
	}
	.nav-button p label {
		position: absolute; top: 0; right: 0;
	}
/*** END COMPONENTS ***/

/*** INTERRACTIVITY ***/
.nav-button label,
.nav-button span { cursor: pointer; }

.form { bottom: -100%; }
.form.is-open { bottom: 0; }

.nav-button p { display: none; }{% for i in (1..10) %}
#chbx4Nav{{ i }}:checked ~ main .nav-button:nth-child({{ i }}) p, {% endfor %}
.jekyllPlaceholderClassName { display: block !important; }
/*** END INTERRACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width: 50em) {
	body { font-size: 14px; }
	
	/*** UTILITIES: .u-btnToggle ***/
	.form .u-btnToggle { top: 1em; right: 1em; }
		
	/*** UTILITIES: .u-input ***/
	.u-input { padding: .5em; }
	.form input[type="submit"] { padding: .5em 1em; }
	
	/*** COMPONENTS: .nav ***/
	.nav { padding: .5em; }
	.nav-button { margin: .25em; }
	.nav-button > label { padding: 1em; }
	.nav-button p { padding: .5em; }
}
@media screen and (min-width: 50em) {
	body { font-size: 16px; }
	
	/*** UTILITIES: .u-btnToggle ***/
	.form .u-btnToggle { top: 1.8em; right: 1.8em; }
	
	/*** UTILITIES: .u-input ***/
	.u-input { padding: 1em; }
	.form input[type="submit"] { padding: 1em 1.8em; }
	
	/*** COMPONENTS: .header ***/
	.header-hgroup-h1 {
		padding: 1em;
	}
	
	/*** COMPONENTS: .nav ***/
	.nav { padding: 1.8em; }
	.nav-button { margin: 1em; }
	.nav-button > label { padding: 1.8em; }
	.nav-button p { padding: 1em; }
	
	/*** VIEWPORT ***/
	.nav-button > label { width: 10em; }
}
/*** MEDIA QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center; justify-content: center;
	}

	/*** .d-midWrap ***/
	.d-midWrap {
		max-width: 75em;
		margin: 0 auto;
	}
/*** END DECORATION ***/

/*** GLOBAL ***/
	/*** .u-notifications ***/
	.u-notifications {
			z-index: 100;
		position: fixed; top: 0; right: 0;
		width: 30%;
			padding: 1em;
	}
	.u-notifications div {
		position: relative;
			padding: 1em .5em;
			margin-bottom: 1em;
			background-color: #AAA;
	}
	.u-notifications span {
		position: absolute; top: 0; left: 0;
	}
/*** END GLOBAL ***/